.button {
    display: inline-block;
    padding: 14px 30px;
    margin-right: 16px;
    line-height: 18px;
	

    font-size: 16px;
	font-weight: 700;
    text-align: center;
    color: #37352f;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: #f9bf52;
    border: none;
    border-radius: 5px;

    cursor: pointer;
}

.button:hover {
	opacity: 0.6;
	color: white;
}

.button:active {
	opacity: 1;
	color: white;
}

.button:disabled {
    opacity: 0.4;
	color: white;
}