
.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0,0,0,0.5);
}

.popup__content {
    padding: 25px;
    background: white;
    border-radius: 16px;
    min-width: 250px;
    outline: 2px solid #f9bf51;
    outline-offset: -10px;
    box-shadow: 0px 5px 10px 2px rgb(0, 0, 0, 0.2);
  
}

.popup_active {
    display: flex; 
    justify-content: center;
    align-items: center;

}
